<%
  title = I18n.t("search_results.title") if title.nil?
  @display_context = true
%>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <div class="btn-group pull-right">
        <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %> 
      </div>   
      <br style="clear:both" /> 
    </div>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h2><%= title %></h2>
      <% end %>

<%
   @show_multiselect_column = user_can?("delete_archival_record")

   ## Start of Modifications ##
   model = "accession"
   # Add content_description column at end
   # This is cribbed w/ minor changes from original add_browse_columns() method
   prop = 'content_description'
   enum_locale_key = "#{model}_#{prop}"
   add_column(I18n.t("#{model}.#{prop}"),
              proc { |record|
                v = record[prop] || ASUtils.json_parse(record['json'])[prop]
                I18n.t("enumerations.#{enum_locale_key}.#{v}", :default => v.to_s)
	      }, :sortable => false)
   ## End of Modifications ##
%>

      <%= render_aspace_partial :partial => "search/listing" %>

    </div>
  </div>
</div>
