<%
  title = I18n.t("search_results.title") if title.nil?
%>

<%
  # Start of modifications
  # See https://github.com/archivesspace/archivesspace/blob/master/frontend/app/helpers/search_helper.rb
  model = "accession"
  add_pref_columns(model)
  # Add content_description column at end
  prop = 'content_description'
  enum_locale_key = "#{model}_#{prop}"
  add_column(I18n.t(
    "#{model}.#{prop}"),
    { locale_key: enum_locale_key, model: model, sortable: false },
    proc { |record|
      v = record[prop] || ASUtils.json_parse(record['json'])[prop]
      I18n.t("enumerations.#{enum_locale_key}.#{v}", :default => v.to_s) unless v.nil?
    }
  )
  add_actions_column if !params[:linker] || params[:linker] === 'false'
  # End of modifications
%>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <% unless @hide_csv_download %>
      <div class="btn-group pull-right">
        <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => fields}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
      </div>
      <% end %>
      <br style="clear:both" />
    </div>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h3><%= title %></h3>
      <% end %>
      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
